.user{
 width: 50px;
}
h6{
 float: left;
 padding-right: 25px;
 padding-top: 10px;
}
.criaruser{
  height: 30px!important;
}
span {
  margin-left: 5px;
  margin-right: 5px;
}

.overflow-auto{
  height: 200px;
}
.imgboss{
  width: 300px;
}