
.container-fluid{
    background-color: #F8F8F8;
}

  


  .img1{
      margin-bottom: 5px;
  }
  .user{
      width: 50px;
  }
.card{
    box-shadow: 0 8px 10px 0 rgba(93, 93, 93, 0.2);
    margin-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
}

.conteudo{
    margin-top: 25px;
}
h2{
    padding-top: 20px;
    color: #707070;
}
.img3{
    float: left;
}
h5{
    padding: 5px;
    color: #707070;
}
.card-body{
    text-align: center;
}

.alinhar{
  margin-top: 27px;
}


