
.container-fluid{
    background-color: #F8F8F8;
}

  


  .img1{
      margin-bottom: 5px;
  }
  .user{
      width: 50px;
  }



h2{
    padding-top: 20px;
    color: #707070;
}
.img3{
    float: left;
}
h5{
    padding: 5px;
    color: #707070;
}


.alinhar{
  margin-top: 27px;
}


