
.container-fluid{
    background-color: #F8F8F8;
}

  

  .img1{
      margin-bottom: 5px;
  }
  .user{
      width: 50px;
  }

.conteudo{
    margin-top: 25px;
}
h2{
    padding-top: 20px;
    color: #707070;
}
.img3{
    float: left;
}
h5{
    padding: 15px;
    color: #707070;
}
.card-body{
    text-align: center;
}

h6{
    float: left;
    padding-right: 25px;
    padding-top: 10px;
}
.criaruser{
  height: 30px!important;
}
span {
  margin-left: 5px;
  margin-right: 5px;
}

.imgvalid{
  width: 20px;
}
.imgavatar{
  height:100px;
   width:100px;

}
.imglogo{
  width: 20%;
}




 
  .form-inline{
      padding: 20px;
  }